h2 {
	text-align: center;
	font: 500 30px "Arial", sans-serif;
	color: brown;
}

/*  button-1 */
.button {
	display: inline-block;
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #fff;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}
.button span::after {
	content: "\00bb";
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}
.button:hover span {
	padding-right: 25px;
}
.button:hover span::after {
	opacity: 1;
	right: 0;
}

/*button-2*/
.button-2 {
	position: relative;
	background-color: #4caf50;
	border: none;
	font-size: 28px;
	color: #fff;
	padding: 20px;
	width: 200px;
	text-align: center;
	transition-duration: 0.4s;
	text-decoration: none;
	overflow: hidden;
	cursor: pointer;
}
.button-2::after {
	content: "";
	display: block;
	position: absolute;
	background-color: #f1f1f1;
	padding-top: 300%;
	padding-left: 350%;
	margin-left: -20px !important;
	margin-top: -120%;
	opacity: 0;
	transition: all 0.8s;
}
.button-2:active:after {
	padding: 0;
	margin: 0;
	opacity: 1;
	transition: 0s;
}
